[FILE]
URL = https://www.youtube.com/watch?v=_R1Fm8WTYa8
VIDEO_PATH = h:/wuHito_20170529.mp4
OUT_DIR = h:/wuHito_20170529

[PROC]
DOWNLOAD_VIDEO = False
ANALYZE_IMAGE = False
EXPORT_IMAGE = False
DETECT_TEXT = True
REVISE_TEXT = False


[PARAMS]
subtitle_color = (230, 230, 230)
subtitle_height = -100
skip_seconds = 60
end_seconds = -1
montage_height = 10
debug_plot = False
white_debug = False
attenuate_factor = 0.8

