[FILE]
URL = https://www.youtube.com/watch?v=OTvmXnpy_Do
VIDEO_PATH = h:/pokemon_003.mp4
OUT_DIR = h:/pokemon_003

[PROC]
DOWNLOAD_VIDEO = True
ANALYZE_IMAGE = True
EXPORT_IMAGE = True
DETECT_TEXT = True
REVISE_TEXT = True


[PARAMS]
subtitle_color = (230, 230, 230)
subtitle_height = -80
skip_seconds = 340
end_seconds = -1
montage_height = 10
debug_plot = True
white_debug = True

